@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  background-color: currentColor;
  color:  #272727;
  scroll-behavior: smooth;
}
.col-2{
  display: flex;
}
.col-2 > div{
  display: flex;
  flex: 49%;
  max-width: 49%;
}

/* for mobile devices */
@media only screen and (max-width: 640px){
  .col-2{
    flex-direction: column;
  }
  .col-2 > div{
    flex: 98vw;
    max-width: 98vw;
  }
}